@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');

#messages {
  display: grid;
  grid-gap: 1rem;
  justify-items: start;
  padding: 1rem;
  margin-bottom: 80px;
}

.chatbox {
  height: 80vh;
  overflow: scroll;

  .message-content {
    font-family: 'Comic Neue', cursive;
    background-color: white;
    padding: 8px 24px;
    border-radius: 8px;
    border: 2px solid black;

    p {
      margin: 0;
    }
  }

  .message-container {
    display: flex;
    position: relative;
    margin: 10px;
    margin-left: 45px;

    .avatar {
      position: absolute;
      bottom: -40px;
      left: -40px;
      background-color: white;
    }

    &.me {
      justify-self: end;
      flex-direction: row-reverse;
      margin-right: 45px;

      .avatar {
        left: auto;
        right: -40px;
      }
    }
  }
}

.chatform {
  position: absolute;
  bottom: 0;
  width: 100%;

  .form-group {
    width: 100%;
    margin-bottom: 0;
  }

  .send-btn {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    font-size: 1.5rem;
  }
}