<div class="container">
  <h1 class="text-center">Pokemon's Index</h1>
  <div class="cards">
    <% @pokemons.each do |pokemon| %>
      <div class="card" style="width: 18rem;">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" class="card-img-top" alt="<%= pokemon.name %>">
        <div class="card-body">
          <h5 class="card-title"><%= pokemon.name.capitalize %></h5>
          <p class="card-text"><%= pokemon.description %></p>
          <%= link_to "See more", pokemon_path(pokemon), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>